<!-- <div class="form-group row">
  <label class="form-control-label col-2 is-right" for="codcli">E:</label>
  <div class="col-10">
    <select required name="codcli" class="form-control">
      {{range $cliente := .clientes}}
      <option {{if $.ehEdit}} {{if eq $.usuario.CodCli $cliente.CodCli }} selected {{end}} {{end}} value="{{$cliente.CodCli}}">{{$cliente.NomCli}}</option>
      {{end}}
    </select>
  </div>
</div> -->

<div class="form-group row">
    <label class="form-control-label col-2 is-right" for="desema">E-mail:</label>
    <div class="col-10">
      <input type="email" required value="{{.usuario.DesEma}}" class="form-control" name="desema" placeholder="" autofocus>
    </div>
  </div>

  <div class="form-group row">
    <label class="form-control-label col-2 is-right" for="nomusu">Nome:</label>
    <div class="col-6">
      <input type="text" required value="{{.usuario.NomUsu}}" class="form-control" name="nomusu" placeholder="">
    </div>
  </div>

  <div class="form-group row">
    <label class="form-control-label col-2 is-right" for="datnas">Data Nascimento:</label>
    <div class="col-6">
      <input type="text" required value="{{.usuario.NomUsu}}" class="form-control" name="nomusu" placeholder="">
    </div>
  </div>

  <div class="form-group row">
    <label class="form-control-label col-2 is-right" for="numcpf">CPF:</label>
    <div class="col-6">
      <input type="text" required value="{{.usuario.NomUsu}}" class="form-control" name="nomusu" placeholder="">
    </div>
  </div>

  <div class="form-group row">
    <label class="form-control-label col-2 is-right" for="numtel">Telefone:</label>
    <div class="col-6">
      <input type="tel" required value="{{.usuario.NomUsu}}" class="form-control" name="nomusu" placeholder="">
    </div>
  </div>

  <div class="form-group row">
    <label class="form-control-label col-2 is-right" for="codpai">Pais:</label>
    <div class="col-10">
      <select required name="codpai" class="form-control">
        {{range $pais := .Paises}}
        <option value="{{$pais.CodPais}}">{{$pais.NomPais}}</option>
        {{end}}
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="form-control-label col-2 is-right" for="codcli">Estado:</label>
    <div class="col-10">
      <select required name="codest" class="form-control">
        {{range $estado := .Estados}}
        <option value="{{$estado.CodEst}}">{{$estado.NomEst}}</option>
        {{end}}
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="form-control-label col-2 is-right" for="codcli">Cidade:</label>
    <div class="col-10">
      <select required name="codcid" class="form-control">
        {{range $cidade := .Cidades}}
        <option value="{{$cidade.CodCid}}">{{$cidade.NomCid}}</option>
        {{end}}
      </select>
    </div>
  </div>


<div class="form-group row">
  <label class="form-control-label col-2 is-right" for="logusu">Usuario:</label>
  <div class="col-3">
    <input type="text" required value="{{.usuario.LogUsu}}" class="form-control" name="logusu" placeholder="">
  </div>
</div>

<div class="form-group row">
  <label class="form-control-label col-2 is-right" for="hassen">Senha:</label>
  <div class="col-3">
    <input type="password" class="form-control" name="hassen" placeholder="">
  </div>
</div>

<div class="form-group row">
  <label class="form-control-label col-2 is-right" for="hassenconfirm">Confirmação:</label>
  <div class="col-3">
    <input type="password" class="form-control"  name="hascon" placeholder="">
  </div>
</div>

<div class="form-group row">
  <div class="col-2"></div>

  <div class="col-10">
    {{$.CSRFInput}}
    <input class="btn btn-primary" type="submit" value="Enviar" />
  </div>
</div>
