{{template "header" .}}

<section class="row justify-content-center">
  <div class="col-12">
    <h2 class="page-header">Alternativas</h2>

    <p>
      <a class="btn btn btn-success" href="/alternativa/novo/{{.Pergunta.CodPer}}">Nova Alternativa</a>
      <a class="col-md-offset-6 btn btn btn-light" href="/pergunta/index/{{.Pergunta.CodEta}}">Voltar</a>
    </p>

    <table class="table table-bordered table-striped table-condensed table-sm table-responsive">
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Valor</th>
          <th>-</th>
        </tr>
      </thead>
      <tbody>
        {{range $alternativa := .Alternativas}}
          <tr>
            <td>{{$alternativa.DesAlt}}</td>
            <td>{{$alternativa.VlrAlt}}</td>
            <td class="is-center">
              <form method="POST" action="/alternativa/deletar/{{$alternativa.CodAlt}}"
                data-confirm="Tem certeza que quer deletar este usuário?">
                {{$.CSRFInput}}
                <button class="btn btn-danger btn-xs">
                  Deletar
                </button>
              </form>
            </td>
          </tr>
        {{end}}
      </tbody>
    </table>
  </div>
</section>

{{template "footer" .}}
