<div class="form-group row">
  <label class="form-control-label col-2 is-right">Descrição:</label>
  <div class="col-10">
    <input class="form-control" required value="{{.atvtipo.DesAtt}}" name="desatt" autofocus>
  </div>
</div>

<div class="form-group row">
  <label class="form-control-label col-2 is-right">Medição:</label>
  <div class="col-4">
    <select class="form-control" name="tipmed">
      <option value="T" {{if .ehEdit}}{{if eq .atvtipo.TipMed "T"}}selected{{end}}{{end}}>Tempo</option>
      <option value="K" {{if .ehEdit}}{{if eq .atvtipo.TipMed "K"}}selected{{end}}{{end}}>Distancia</option>
      <option value="V" {{if .ehEdit}}{{if eq .atvtipo.TipMed "V"}}selected{{end}}{{end}}>Valor</option>
    </select>
  </div>
</div>

<div class="form-group row">
  <div class="col-2"></div>
  <div class="col-10">
    {{$.CSRFInput}}
    <input class="btn btn-primary" type="submit" value="Enviar" />
  </div>
</div>
