<style>
  .cabecalho-colorido th {
    background-color: #ccffcc;
  }

  .is-center {
    text-align: center;
  }

  .is-right {
    text-align: right;
  }

</style>

<div>
  <table class="cabecalho-colorido" style="font-family: 'Calibri', sans-serif; font-size: 11pt; border-collapse: collapse; width: 100%" border="1" cellpadding="3">
    <thead>
      <tr>
        <th colspan="2">
          Chamado {{.Chamado.CodCha}}
        </th>
      </tr>
      </head>
      <tbody>
        <tr>
          <td style="width: 40%">
            <strong>Cliente: </strong>{{.Chamado.Cliente.NomCli}}
            <br>
            <strong>Abertura: </strong>{{.Chamado.DatCad.Format "02-01-2006 15:04"}}
            <br>
            <strong>Prazo de entrega: </strong>{{.Chamado.DatEtg.Time.Format "02-01-2006 15:04"}}
            <br>
            <strong>Estimativa prestador: </strong>{{.Chamado.DatEst.Time.Format "02-01-2006 15:04"}}
            <br>
            <strong>Situação: </strong>{{if eq .Chamado.SitCha "A"}}Aberto{{end}} {{if eq .Chamado.SitCha "S"}}Suspenso{{end}} {{if eq .Chamado.SitCha "P"}}Pendente{{end}} {{if eq .Chamado.SitCha "F"}}Fechado{{end}}
            <br>
          </td>
          <td style="width: 60%">
            <strong>Descrição: </strong>{{.Chamado.DesCha}}
            <br>
          </td>
        </tr>
        <tr>
          <th colspan="2">
            Comentários
          </th>
        </tr>
        {{range $comentario := .Comentarios}}
        <tr>
          <td style="width: 40%">
            <strong>Usuário: </strong>{{$comentario.Usuario.NomUsu}}
            <br>
            <strong>Horário: </strong>{{$comentario.DatCad.Format "02/01/2006 15:04"}}
          </td>
          <td style="width: 60%">
            {{markdown $comentario.DesCom}}
          </td>
        </tr>
        {{end}}
      </tbody>
  </table>
</div>
