<table class="table">
  <thead>
    <tr class="bg-info">
      <th style="float:center">Data Inicio</th>
      <th style="float:center">Data Término</th>
      <th style="float:center">Quantidade</th>
    </tr>
  </thead>

  <tbody>
    <tr v-if="loading">
      <td colspan="8" class="is-center">Carregando...</td>
    </tr>

    <tr v-if="!loading && atividade.AtividadeQuantidades.length === 0">
      <td colspan="8" class="is-center">Não foram encontrados registros...</td>
    </tr>

    <tr v-if="!loading" v-for="atividadequantidade in atividade.AtividadeQuantidades" class="table-info">
      <td v-if="atividadequantidade.CodAtv == atividade.CodAtv">
        ${ formata_data(atividadequantidade.DatIni) }
      </td>
      <td v-if="atividadequantidade.CodAtv == atividade.CodAtv">
        ${ formata_data(atividadequantidade.DatFim) }
      </td>
      <td v-if="atividadequantidade.CodAtv == atividade.CodAtv">
        ${ atividadequantidade.QtdAtv }
      </td>
    </tr>
  </tbody>
</table>
