<br>
<div class="row">
  <div class="col">
    <div class="form-group">
        <label class="form-control-label col-12">:</label>
      <div class="col-12 row">
        <div class="col-6">
          <label class="form-control-label col is-right" for="nomcid">Tipo de Atividade: {{.atividade.CodAtt}}</label>
        </div>
        <div class="col-6">
          <select @change="AtualizaPikaday" required class="form-control" v-model.lazy="codatt" name="codatt">
            <option></option>
            {{range $atvtipo := .atvtipos}}
              <option {{if $.ehEdit}}{{if eq $.atividade.CodAtt $atvtipo.CodAtt}}selected{{end}}{{end}} value="{{$atvtipo.CodAtt}}">
                {{$atvtipo.DesAtt}}
              </option>
            {{end}}
          </select>
        </div>
      </div>
    </div>
    {{template "atividade-form-tipo.html" .}}
  </div>

  <div class="col">
    <div class="form-group">
      <label class="form-control-label col-12">Descrição:</label>
      <div class="col-12">
        <textarea {{if .ehEdit}}disabled{{end}} required class="form-control" name="desatv" rows="10">
          {{$.atividade.DesAtv}}
        </textarea>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  {{$.CSRFInput}}
  <input style="float:right;" class="btn btn-primary" type="submit" value="Enviar" />
</div>
