<div v-if="TipoAtividade(codatt) == 'T' ">
  <div class="form-inline margin-b-sm">
    <label class="pikadayatividade col-4">Data Início</label>
    <label class="pikadayatividade col-4">Data Fim</label>
    <label class="pikadayatividade col-3">Tempo</label>
  </div>

  <div v-for="row in rows">
    <div class="form-inline margin-b-sm">
      <input required data-fechar-ao-selecionar-hora name="datini" v-model.lazy='row.datini' class="pikadayatividade form-control col-4" data-time-label />
      <input required data-fechar-ao-selecionar-hora name="datfim" v-model.lazy='row.datfim' class="pikadayatividade form-control col-4" data-time-label />
      <input required disabled :value='diffData(row.datini, row.datfim)' class="form-control col-3" data-time-label />
      <button class="btn btn-danger col-1" @click="removeElement(row)">
        <i class="fa fa-minus"></i>
      </button>
    </div>
  </div>

  <div class="form-inline row justify-content-between margin-b-sm">
    <label class="pikadayatividade col-8 is-right">Tempo Total:</label>

    <input required disabled :value='diffDataTotal()' class="form-control col-3" data-time-label />

    <button class="btn btn-success col-1" @click="addRow">
      <i class="fa fa-plus"></i>
    </button>
  </div>
</div>

<div v-if="TipoAtividade(codatt) == 'K'">
  <div class="form-inline margin-b-sm">
    <label class="pikadayatividade col-3">Data Inicio</label>
    <label class="pikadayatividade col-3">Data Fim</label>
    <label class="pikadayatividade col-3">KMs</label>
  </div>

  <div v-for="row in rows">
    <div class="form-inline margin-b-sm">
      <input required name="datini" data-fechar-ao-selecionar-hora class="pikadayatividade form-control col-3" data-time-label />
      <input required name="datfim" data-fechar-ao-selecionar-hora class="pikadayatividade form-control col-3" data-time-label />
      <input required name="qtdatv" class="form-control col-3" id="qtdatv" />
      <button class="btn btn-danger col-1">
        <i class="fa fa-minus" @click="removeElement(row);"></i>
      </button>
    </div>
  </div>

  <div class="form-inline margin-b-sm">
    <button class="btn btn-success fa fa-plus offset-8" @click="addRow"></button>
  </div>
</div>

<div id="form-valor" v-if="TipoAtividade(codatt) == 'V'" class="row justify-content-center">
  <div class="form-group col-6">
    <label for="vlratv">Valor:</label>

    <div class="input-group">
      <div class="input-group-addon">R$</div>
      <input required id="vlritm" class="form-control" name="vlratv" />
    </div>
  </div>
</div>
