<table class="table">
  <thead>
    <tr class="bg-info">
      <th style="float:center">Data Inicio</th>
      <th style="float:center">Data Término</th>
      <th style="float:center">Horas</th>
      {{if .Usuario.EhPrestador}}
      <th>-</th>
      {{end}}
    </tr>
  </thead>
  <tbody>
    <TR v-if="loading">
      <TD colspan="4" class="is-center">Carregando...</TD>
    </TR>
    <TR v-if="!loading && atividade.AtividadeHoras.length === 0">
      <TD colspan="4" class="is-center">Não foram encontrados registros...</TD>
    </TR>

    <TR v-if="!loading" v-for="atividadehora in atividade.AtividadeHoras" class="table-info" style="cursor:pointer;">
      <TD v-if="atividadehora.CodAtv == atividade.CodAtv">
        ${ formata_data(atividadehora.DatIni) }
      </TD>
      <TD v-if="atividadehora.CodAtv == atividade.CodAtv">
        ${ formata_data(atividadehora.DatFim) }
      </TD>
      <TD v-if="atividadehora.CodAtv == atividade.CodAtv">
        ${formataHoraDeDecimal(calcula_hora(atividadehora.DatIni,atividadehora.DatFim))}
      </TD>

      {{if .Usuario.EhPrestador}}
      <TD v-if="atividadehora.CodAtv == atividade.CodAtv">
        <click-confirm :messages="{title: 'Deseja realmente deletar a hora da atividade?', yes: 'Sim', no: 'Não'}">
          <form method="post" :action="'/atividades/horas/deletar/'+ atividadehora.CodAth +'?codcha={{.chamado.CodCha}}'">
            {{$.CSRFInput}}
            <input class="btn btn-sm btn-danger" type="submit" name="" value="Excluir" />
          </form>
        </click-confirm>
      </TD>
      {{end}}

    </TR>
  </tbody>
</table>
