{{template "header" .}}

<section class="row justify-content-center">
  <div class="col-6">
    <h1 class="page-header">Valores de {{.Cliente.NomCli}}</h1>

    <p>
      <a class="btn btn btn-success" href="/valores/novo?codcli={{.Cliente.CodCli}}">
        Novo Valor
      </a>
    </p>

    <table class="table table-bordered table-striped table-condensed table-sm table-responsive">
      <thead>
        <tr>
          <th>Atividade</th>
          <th>A partir de</th>
          <th>Valor</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{range $valor := .Valores}}
          <tr>
            <td>{{$valor.AtividadeTipo.DesAtt}}</td>
            <td>{{$valor.DatApt.Format "02/01/2006"}}</td>
            <td>{{printf "R$ %.2f" $valor.ValAcr}}</td>
            <td class="is-center">
              <a class="btn btn-primary btn-xs" href="/valores/editar?codcva={{$valor.CodCva}}&codcli={{.Cliente.CodCli}}">
                Editar
              </a>
            </td>
            <td class="is-center">
              <form method="POST" action="/valores/deletar?codcli={{.Cliente.CodCli}}&codcva={{$valor.CodCva}}"
                data-confirm="Tem certeza que quer deletar este valor?">
                {{$.CSRFInput}}
                <button class="btn btn-danger btn-xs">
                  Excluir
                </button>
              </form>
            </td>
          </tr>
        {{end}}
      </tbody>
    </table>
  </div>
</section>

{{template "footer" .}}
