<h1 class="page-header">Anexos</h1>

<table class="table table-bordered table-striped table-condensed table-sm table-responsive">
  <thead>
    <tr>
      <th>Arquivo</th>
      <th>Envio</th>
      <th>Usuário</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{if eq (len .anexos) 0}}
      <tr>
        <td colspan="4" class="is-center">Não foram encontrados anexos para este chamado</td>
      </tr>
    {{else}}
      {{range $anexo := .anexos}}
        <tr>
          <td>
            <a href="/anexos/show/{{$anexo.CodAne}}" {{if eq $anexo.ArqTip "E"}} download {{end}} title="Clique para abrir em nova aba" target="_blank">{{$anexo.ArqOri}}</a>
          </td>
          <td>{{$anexo.DatCad.Format "02/01/2006"}}</td>
          <td>{{$anexo.Usuario.NomUsu}}</td>
          <td class="is-center">
            <form method="POST" action="/anexos/delete/{{$anexo.CodAne}}" data-confirm="Tem certeza que deseja deletar este anexo?">
              {{$.CSRFInput}}
              <input class="btn btn-sm btn-danger" type="submit" name="" value="Deletar" />
            </form>
          </td>
        </tr>
        {{end}}
      {{end}}
  </tbody>
</table>

<h3>Adicionar um anexo (Tamanho máximo de 100mb)</h3>

<form method="post" enctype="multipart/form-data" class="dropzone dz-clickable" :action="'/anexos/save?codcha='+ codcha">
  {{$.CSRFInput}}
  <input type="file" name="file" />
  <input type="submit" class="btn btn-primary" />
</form>
