<div class="form-group row">
  <label class="form-control-label col-2 is-right">Cliente:</label>
  <div class="col-10">
    <select @change="buscarTags" required v-model="codcli" class="form-control" name="codcli" autofocus {{if .Chamado.CodCha}}disabled{{end}}>
      <option value="">Selecione um cliente</option>
      {{range $cliente := .Clientes}}
        <option value="{{$cliente.CodCli}}">{{$cliente.NomCli}}</option>
      {{end}}
    </select>
  </div>
</div>

<div class="form-group row">
  <label class="form-control-label col-2 is-right">Titulo:</label>
  <div class="col-10">
    <input value="{{.Chamado.NomTit}}" class="form-control" name="nomtit">
  </div>
</div>

<div class="form-group row">
  <label class="form-control-label col-2 is-right">Descrição:</label>
  <div class="col-10">
    <textarea name="descha" class="form-control" rows="10">{{.Chamado.DesCha}}</textarea>
  </div>
</div>

<div class="form-group row">
  <label class="form-control-label col-2 is-right">Prazo:</label>
  <div class="col-3">
    <input readonly {{if .Chamado.DatEtg.Valid}}value="{{.Chamado.DatEtg.Time.Format "02/01/2006"}}"{{end}}
    class="form-control pikaday" data-format="DD/MM/YYYY" data-disable-time name="datetg"
    data-apartir-de-agora data-proximo-ao-selecionar />
  </div>
</div>

<div class="form-group row">
  <label class="form-control-label col-2 is-right">Estimativa:</label>
  <div class="col-3">
    <input readonly {{if .Chamado.DatEst.Valid}}value="{{.Chamado.DatEst.Time.Format "02/01/2006"}}"{{end}}
      class="form-control pikaday" data-format="DD/MM/YYYY" data-disable-time name="datest"
      data-apartir-de-agora data-proximo-ao-selecionar />
  </div>
</div>

<div class="form-group row">
  <label class="form-control-label col-2 is-right">Situação:</label>
  <div class="col-3">
    <select class="form-control" name="sitcha">
      <option {{if eq $.Chamado.SitCha "A"}}selected{{end}} value="A">Aberto</option>
      <option {{if eq $.Chamado.SitCha "P"}}selected{{end}} value="P">Pendente</option>
      <option {{if eq $.Chamado.SitCha "S"}}selected{{end}} value="S">Suspenso</option>
      <option {{if eq $.Chamado.SitCha "F"}}selected{{end}} value="F">Fechado</option>
    </select>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <label class="form-control-label col-2 is-right">Categorias:</label>

    <div class="col-10">
      <div v-if="tags.length === 0" class="form-check-label">
        <p>Não Categorizado.</p>
      </div>

      <div v-else v-for="tag in tags" class="form-check-label">
        <input class="form-check-input" name="codtgs" type="checkbox" :value="tag.CodTgs" :checked="tagEstaSelecionada(tag.CodTgs)">
        <div aria-hidden="true" class="btn btn-sm tags" :style="{background: tag.DesCor}">
          <i class="fa fa-tags" aria-hidden="true">
            ${ tag.DesTgs }
          </i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-group row justify-content-end">
  <div class="col-10">
    {{$.CSRFInput}}

    {{if .Chamado.CodCha}}
      <input type="hidden" name="codcha" value="{{.Chamado.CodCha}}" />
    {{end}}

    <input type="submit" class="btn btn-primary form-control-label" value="Enviar" />
  </div>
</div>
