{{template "header" .}}

<section class="row justify-content-center">
  <div class="col-10">
    <h2 class="page-header">Chamados</h2>

    {{template "chamado-index-cabecalho.html" .}}

    {{if not .Chamados}}
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            Não foram encontrados chamados para os filtros informados
          </p>
        </div>
      </div>
    {{else}}
      <table class="table table-bordered table-striped table-condensed table-sm table-responsive">
        <thead>
          <tr>
            <th>Chamado</th>
            <th>Cliente</th>
            <th>Abertura</th>
            <th>Título</th>
            <th>Situação</th>
            <th>Usuário</th>
            <th>Categorias</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{range $chamado := .Chamados}}
            <tr>
              <td>{{$chamado.CodCha}}</td>
              <td>{{$chamado.Cliente.NomCli}}</td>
              <td>{{$chamado.DatCad.Format "02/01/2006"}}</td>
              <td>{{$chamado.NomTit}}</td>
              <td>{{$chamado.DsSituacao}}</td>
              <td>{{$chamado.Usuario.NomUsu}}</td>
              <td class="is-center">
                {{if not $chamado.ChamadosTags}}
                  N/A
                {{else}}
                  {{range $chamadoTag := $chamado.ChamadosTags}}
                    <div class="btn btn-xs tags" style="background: {{$chamadoTag.Tag.DesCor}}">
                      {{$chamadoTag.Tag.DesTgs}}
                    </div>
                  {{end}}
                {{end}}
              </td>
              <td class="is-center">
                <a class="btn btn-secondary btn-xs" href="/chamados/movimentos?codcha={{$chamado.CodCha}}">
                  Movimentos
                </a>
              </td>
              <td class="is-center">
                <a class="btn btn-primary btn-xs" href="/chamados/editar/{{$chamado.CodCha}}">
                  Editar
                </a>
              </td>
            </tr>
          {{end}}
        </tbody>
      </table>
    {{end}}
  </div>
</section>

{{template "footer" .}}
